.feedback-container {
  max-width: 800px;
  margin: 0 auto;
  
  text-align: center;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-container h1 {
  color: rgb(6, 6, 248);
  margin-top: 30px; /* Adjust margin as needed */
}

.form-row {
  display: flex;
  justify-content: space-between; 
}

.form-group-fb {
  flex: 1;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 40px;
}

.btn
  {
    width: 100px;
    height: 40px;
    margin-left: 100px;
    margin-right: 100px
  }

  .btn-primary
  {
    margin-left: 50px;
  }
