/* PhonePePayment.css */
.bg-phonepe-payment
{
  background-image: url('../components/Images/phonepaybgimage.webp'); 
  background-size:auto;

}
.container-phonepe-payment {
 
  /* background-position: center; */
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
  color: #fff; 
  max-width: 500px;
  margin: 0 auto;
}

.payment-form {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #71087e;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  margin-left: 10px;
}

.heading-phonepe-payment {
  text-align: center;
  margin-bottom: 20px;
}
