.form-row {
    display: flex;
    justify-content: space-between; 
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
    

  }
  
  .registraction-container
  {
    
    margin: 0 auto;
    
    text-align: center;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    /* background-color: antiquewhite; */
    margin-left: 320px;
  }

  .btn
  {
    width: 100px;
    height: 40px;
   
  }
  .btn-1
  {
    width: 100px;
    height: 40px;
    margin-top: 50px;
  }

  