/* SuccessSpinner.css */

.container-success-spinner {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    background-color: #f8f9fa;
    max-width: 600px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  
  .success-message {
    text-align: center;
    color: #28a745; /* Bootstrap's success color */
  }
  
  .success-message h2 {
    color: #28a745;
  }
  
  .success-message p {
    font-size: 1.2rem;
  }
  