.login-container
{
  border: 1px solid red;
    border-radius: 40px;
    width : 600px;
    margin-top: 40px;
    margin-left: 350px;
    background-color: rgb(109, 163, 190);
    align-items: center;
}

.login-heading
{
  margin-top: 40px;
}